@inject IAuthenticationService authService

<AuthorizeView>
    <Authorized>
        <NavLink class="nav-link" href="javascript:void(0)" @onclick="@(async ()=> await authService.LogOut())">
            <span class="oi oi-account-logout" aria-hidden="true"></span> @Logout
        </NavLink>
        <span class="username">User: @authService.User.Name&nbsp;</span>
    </Authorized>
    <NotAuthorized>
        <img src="images/catchme_logo_welcome_fb_color_small.png" alt="@AltTextLogo" />
        <NavLink class="nav-link" href="javascript:void(0)" @onclick="authService.Authorize">
            <span class="oi oi-account-login" aria-hidden="true"></span>  @Login
        </NavLink>
    </NotAuthorized>
</AuthorizeView>

@code {
    [Parameter] public string Login { get; set; }
    [Parameter] public string Logout { get; set; }
    [Parameter] public string AltTextLogo { get; set; }
}