@inject IAuthenticationService authService
@inject IJSRuntime JSRuntime

<div class="container">
    <div id='map' style='width: 400px; height: 300px;'></div>
</div>

@code {
    [Parameter] public Friend Data { get; set; }

    protected override void OnAfterRender(bool firstRender)
    {
        JSRuntime.InvokeVoidAsync("mapBoxFunctions.initMapBox");
    }
}
