@inject IAuthenticationService authService

<NavLink class="nav-link" href="javascript:void(0)" @onclick="@(async ()=> await authService.LogOut())">
    <span class="oi oi-account-logout" aria-hidden="true"></span> @LogoutText
</NavLink>
<span class="username">User: @authService.User.Name&nbsp;</span>

@code {
    [Parameter] public string LogoutText { get; set; }
}