@using System.Runtime.InteropServices
@using CatchMe.Web.Shared
@inject IAuthenticationService authService

<div class="cart-item">
    <div class="info">
        <img src="@authService.User.Picture" alt="@authService.User.GivenName" />
        <p>@authService.User.GivenName</p>
    </div>
    <div class="item-summary">
        <button class="btn btn-primary" @onclick="OnClickInternal">You on map</button>
    </div>
</div>

@code{
    [Parameter]
    public EventCallback OnClick { get; set; }

    private void OnClickInternal()
    {
        if (OnClick.HasDelegate)
        {
            OnClick.InvokeAsync(null);
        }
    }
}
