@attribute [Authorize]

@page "/friends"
@using CatchMe.Web.Shared
@inject HttpClient Http

<h1>Friends</h1>

@if (_friends == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>            
        </tr>
        </thead>
        <tbody>
        @foreach (var friend in _friends)
        {
            <tr>
                <td>@friend.DisplayName</td>               
            </tr>
        }
        </tbody>
    </table>
}

@code {
    private Friend[] _friends;

    protected override async Task OnInitializedAsync()
    {
        _friends = await Http.GetJsonAsync<Friend[]>("Friends");
    }
}